body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Floating text labels */
.label {
  pointer-events: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
